{{ partial "header.html" . }}
{{ partial "navbar.html" . }}

<div class="pure-g">
    <div class="pure-u-1-24 pure-u-md-5-24"></div>
	<div class="pure-u-11-12 pure-u-md-5-8">
        <div class="post">

            <div class="post-title">
                <p class="footnote">
                    <time class="">{{ .Date.Format "2006-01-02" }}</time>
		            {{ $baseurl := .Site.BaseURL }}
                    {{ if or .Params.tags .Params.categories .Params.series }}
                    |
                    {{ end }}
                    {{ if isset .Params "tags" }}
                    tags:{{ range .Params.tags }}<a href="{{ $baseurl }}tags/{{ . | urlize }}">{{ . }}</a> {{ end }}
                    {{ end }}

                    {{ if isset .Params "categories" }}
                    categories:{{ range .Params.categories }}<a href="{{ $baseurl }}categories/{{ . | urlize }}">{{ . }}</a> {{ end }}
                    {{ end }}

                    {{ if isset .Params "series" }}
                    series:{{ range .Params.series }}<a href="{{ $baseurl }}series/{{ . | urlize }}">{{ . }}</a> {{ end }}
                    {{ end }}
                </p>
                <h1>{{ .Title }}</h1>
            </div>

            <div class="post-content">
                {{ .Content }}
                <div id="images"></div>
                <script  type="text/javascript">
    function getTagFromDescriptionContent() { 
    var metas = document.getElementsByTagName('meta'); 

    for (var i=0; i<metas.length; i++) { 
        if (metas[i].getAttribute("name") == "description") { 
            return metas[i].getAttribute("content"); 
        } 
    } 

    return "";
    } 

    var xhr = new XMLHttpRequest();
    var metatag = getTagFromDescriptionContent();
    xhr.open("GET", "https://res.cloudinary.com/dkdpqgjhi/image/list/" + metatag + ".json", true);
    xhr.onload = function (e) {
    if (xhr.readyState === 4) {
        if (xhr.status === 200) {
        console.log(xhr.responseText);
            var json = JSON.parse(xhr.responseText);
            
            for (var i=0; i<json.resources.length; i++) {
                var resource = json.resources[i];
                var url = "https://res.cloudinary.com/dkdpqgjhi/image/upload/c_fit,w_" + Math.floor(document.body.clientWidth / 1.5) + "/v" + resource.version + "/" + resource.public_id + "." + resource.format;
                var elem = document.createElement("img");
                elem.src = url;
        document.getElementById("images").appendChild(elem);
            }
                
        
        } else {
        console.error(xhr.statusText);
        }
    }
    };
    xhr.onerror = function (e) {
    console.error(xhr.statusText);
    };
    xhr.send(null);    
                </script>
            </div>
        </div>
	</div>
    <div class="pure-u-1-24 pure-u-md-1-6"></div>
</div>

{{ partial "footer.html" . }}
